html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* float styles */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background-image: url("images/hotColdBackgroundImageFinal.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
	font-family: Raleway;
	text-align: center;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
}

/* Header Styles */
nav {
	position: relative;
	height: 50px;
	padding: 15px;
}

nav a {
	text-decoration: none;
	color: #fff;
}

nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 18px;
	font-family: Open Sans;
	float: right;
}

h1 {
	font-weight: 900;
	font-size: 50px;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #fff;
}

.instructions {
	color: white;
	width: 600px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	line-height: 25px;
	font-size: 18px;
}

/* main green section */
.game {
	position: relative;
	background-color: #efefef;
	width: 600px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin: 0 auto;
	margin-top: 20px;
}

#remainingGuesses {
	color: #545454;
	padding-top: 25px;
	margin-bottom: 15px;
	font-size: 17px;
}

form {
	padding-bottom: 30px;
}

.topSection {
	min-height: 128px;
}

.bottomSection {
	display: none;
	margin-bottom: 40px;
	margin-top: -10px;
}

#feedback {
	background-color: #efefef;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 0;
	padding-bottom: 5px;
	font-size: 20px;
	font-weight: 700;
	display: block;
	color: #FF890A;
	margin-top: 0;
	border-radius: 0;
}

/*guess input*/
input {
	width: 320px;
	height: 40px;
	display: inline-block;
	padding: 0;
	padding-left: 20px;
	margin: 0;
	background-color: #FFFFFF;
	color: #002538;
	border: none;
	-webkit-border-radius: 2px 0 0 2px;
	-moz-border-radius: 2px 0 0 2px;
	border-radius: 2px 0 0 2px;
	font-family: Raleway;
}

input.text {
	font-size: 20px;
	font-family: Raleway;
}

input:focus {
	outline: none !important;
}

::-webkit-input-placeholder {
   color: #95a5a6;
}

/* Firefox 18- */
:-moz-placeholder {
   color: #95a5a6;
}

/* Firefox 19+ */
::-moz-placeholder {
   color: #95a5a6;
}

:-ms-input-placeholder {
   color: #95a5a6;
}

/*guess button*/
.button {
	background-color: #FF890A;
	color: #fff;
	border: none;
	padding-left: 20px;
	padding-right: 20px;
	height: 40px;
	font-size: 20px;
	font-family: Raleway;
	display: inline-block;
	-webkit-border-radius: 0 2px 2px 0;
	-moz-border-radius: 0 2px 2px 0;
	border-radius: 0 2px 2px 0;
	cursor: pointer;
}

.button:focus {
	outline: none;
}

/*answer holder*/
#answerSection {
	color: #efefef;
	font-weight: 700;
	font-size: 15px;
	margin-top: 0;
}

/* box storing guesses */
ul.guessBox {
	height: 90px;
	margin: 0;
	background-color: #efefef;
	padding: 27px;
	display: block;
	border-radius: 0 0 4px 4px;
	color: #fff;
}

/* box around individual numbers */
ul.guessBox li {
	display: inline;
	background-color: #0A5378;
	padding: 10px;
	padding-bottom: 12px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	width: 30px;
	margin: 5px;
	color: #fff;
}

@media (max-width: 767px) {
	nav ul li {
		font-size: 13px;
	}
	h1 {
		font-size: 35px;
	}
	.instructions {
		width: 100%;
		padding-left: 15px;
		padding-right: 15px;
		line-height: 25px;
		font-size: 17px;
	}
	#remainingGuesses {
		font-size: 20px;
		line-height: 25px;
	}
	.game {
		width: 280px;
	}
	input {
		width: 160px;
		height: 35px;
		padding-left: 10px;
	}
	input.text {
		font-size: 15px;
	}
	.button {
		padding-left: 10px;
		padding-right: 10px;
		height: 35px;
		font-size: 15px;
	}
	#feedback {
		font-size: 15px;
	}
}
